.generatorButton {
  width: 20rem;
  height: 8rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  background-color: #087e7c;
  border: 0.5px solid black;
  color: rgba(255, 247, 247, 0.89);
}

.generatorButton:hover {
  background-color: #087e7ca9;
  border: 2px solid black;
}

.generatorButton:focus {
  outline: none;
}

.generatedTitle {
  display: flex;
  justify-content: center;
  color: rgba(255, 247, 247, 0.89);
}

.generatedImage {
  display: flex;
  justify-content: center;
  margin: 0 3.5rem;
  height: 30rem;
}

.generatedVideo {
  display: flex;
  justify-content: center;
}
