.generatorButton {
    width: 300px;
    height: 100px;
    margin-top: 50px;
    font-size: 18px;
    color: #140F2D;
    background-color: white;
    border-radius: 4%;
}

.generatorButton:hover {
    background-color: rgba(20, 15, 45, 0.473);
}

.generatorButton:focus {
    outline: none;
}

.generatedTitle {
    display: flex;
    justify-content: center;
    color: #140F2D;
}

.generatedImage {
    display: flex;
    justify-content: center;
}

.generatedVideo {
    display: flex;
    justify-content: center;
}