.generatorButton {
  width: 20rem;
  height: 8rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  background-color: rgb(167, 151, 151);
  border: 0.5px solid black;
}

.generatorButton:hover {
  background-color: rgb(104, 96, 96);
  border: 2px solid black;
}

.generatorButton:focus {
  outline: none;
}

.generatedTitle {
  display: flex;
  justify-content: center;
  color: #140f2d;
}

.generatedImage {
  display: flex;
  justify-content: center;
  margin: 0 3.5rem;
  height: 30rem;
}

.generatedVideo {
  display: flex;
  justify-content: center;
}
