.app {
  text-align: center;
  background-color: #1a4876;
}

.appHeader {
  background-color: #1a4876;
  background-image: url("../../stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 247, 247, 0.89);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
